In [ ]:
### From the Medium 
## URL - https://medium.freecodecamp.org/learning-python-from-zero-to-hero-120ea540b567

In [1]:
one = 1

In [2]:
two = 2

In [3]:
some_number = 10000

In [20]:
true_boolean = True

In [22]:
if true_boolean:
    print("Hello Python 1")

Hello Python 1

In [21]:
true_boolean

True

In [19]:
print ("Shyam")

Shyam

In [25]:
if 1>2:
    print ("1 is > than 2")
    
elif 2>1:
    
    print("1 is not greater than 2")
    
else:
    print("1 is equal 2")

1 is not greater than 2

In [26]:
num = 1

while num <= 10:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

In [27]:

loop_condition = True

while loop_condition:
    print("Loop Condition keeps: %s" %(loop_condition))
    loop_condition = False

Loop Condition keeps: True

In [29]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [30]:
my_list = [1,2,3,4,5,6,7,8]

In [31]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
print(my_list[2])

3

In [33]:
my_list.append(10)

In [34]:
my_list[8]

10

In [35]:
dictionary_tk = {
    "name":"Shyam",
    "age":28,
    "nationality":"Indian"
}

In [36]:
print(dictionary_tk["nationality"])

Indian

In [37]:
bookshelf = [
  "The Effective Engineer",
  "The 4 hours work week",
  "Zero to One",
  "Lean Startup",
  "Hooked"
]

In [41]:
for book in bookshelf:
    print(book)

The Effective Engineer
The 4 hours work week
Zero to One
Lean Startup
Hooked

In [44]:
for key in dictionary_tk:
    print("%s --> %s" %(key,dictionary_tk[key]))

age --> 28
name --> Shyam
nationality --> Indian

In [45]:
### Classes

In [53]:
class Vehicle:
    def __init__(self, number_of_wheels, type_of_tank, seating_capacity, maximum_velocity):
        self.number_of_wheels = number_of_wheels
        self.type_of_tank = type_of_tank
        self.seating_capacity = seating_capacity
        self.maximum_velocity = maximum_velocity
       
    @property
    def number_of_wheels(self):
        return self.number_of_wheels
    
    @number_of_wheels.setter
    def set_number_of_wheels(self,number):
        self.number_of_wheels = number

In [50]:
car= Vehicle(4,'electric',5,250)

In [51]:
car.number_of_wheels

4

In [54]:
car.number_of_wheels

4

In [55]:
car.number_of_wheels = 8

In [56]:
car.number_of_wheels

8

In [ ]:
### Encapsulation