In [1]:
import numpy as np

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
data = np.random.randint(0,100,(10,2))

In [6]:
data

array([[98, 42],
       [34, 34],
       [29, 10],
       [27, 86],
       [88, 85],
       [50, 91],
       [24, 21],
       [66, 12],
       [43, 63],
       [99, 83]])

In [7]:
scaler_model = MinMaxScaler()

In [8]:
type(scaler_model)

sklearn.preprocessing.data.MinMaxScaler

In [9]:
scaler_model.fit(data)

/home/shyam/anaconda3/envs/tfdeeplearning/lib/python3.5/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [10]:
scaler_model.transform(data)

array([[ 0.98666667,  0.39506173],
       [ 0.13333333,  0.2962963 ],
       [ 0.06666667,  0.        ],
       [ 0.04      ,  0.9382716 ],
       [ 0.85333333,  0.92592593],
       [ 0.34666667,  1.        ],
       [ 0.        ,  0.13580247],
       [ 0.56      ,  0.02469136],
       [ 0.25333333,  0.65432099],
       [ 1.        ,  0.90123457]])

In [11]:
scaler_model.fit_transform(data)

/home/shyam/anaconda3/envs/tfdeeplearning/lib/python3.5/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[ 0.98666667,  0.39506173],
       [ 0.13333333,  0.2962963 ],
       [ 0.06666667,  0.        ],
       [ 0.04      ,  0.9382716 ],
       [ 0.85333333,  0.92592593],
       [ 0.34666667,  1.        ],
       [ 0.        ,  0.13580247],
       [ 0.56      ,  0.02469136],
       [ 0.25333333,  0.65432099],
       [ 1.        ,  0.90123457]])

In [12]:
import pandas as pd

In [24]:
mydata=np.random.randint(0,101,(50,4))

In [25]:
mydata

array([[ 88,  20,  82,  17],
       [ 68,  39,  20,  66],
       [ 74,  12,  30,  95],
       [ 11,  20,  27,  24],
       [100,  28,  11,  65],
       [  4,  40,  32,   2],
       [ 86,  36,  75,  78],
       [ 30,  45,  95,  53],
       [ 42,  87,  80,  12],
       [ 32,  17,   4,  34],
       [ 95,  23,  30,  37],
       [ 13,  94,  44,   1],
       [ 94,  19,  71,  63],
       [  3,   8,  22,  83],
       [  6,  24,   5,  81],
       [  3,  33,  25,  55],
       [ 54,  24,  77,  96],
       [ 86,  71,   0,  45],
       [ 33,  24,  46,  38],
       [ 74,  82,  98,  20],
       [ 37,  69,  14,  12],
       [ 49,  32,  33,  27],
       [ 34,  90,  20,  76],
       [ 36,  76,  60,   9],
       [ 21,  21,  34,  35],
       [  1,  98,  97,  51],
       [ 65,  60,  22,  67],
       [ 88,  67,  64,  95],
       [ 66,  85,  65,  53],
       [ 44,   9,  92,  46],
       [ 20,  36,  97,  81],
       [ 17,  84,  23,  83],
       [ 49,  77,  93,  50],
       [ 33,  26,   4,  40],
       [ 52,  90,   7,  22],
       [ 61,  72,  58,  85],
       [  9,  97,  34,  87],
       [ 65,  17,  77,  72],
       [ 65,   3,   6,  83],
       [ 20,  24,  54,  24],
       [ 91,   0,  45,  27],
       [ 43, 100,  74,  49],
       [ 35,  45,  56,  20],
       [ 54,  89,  38,  55],
       [  3,   3,  31,  58],
       [ 56,  81,  69,   6],
       [ 56,  59,  89,   0],
       [ 31,  64,   9,  61],
       [ 33,  33,  58,  34],
       [ 45,  31,  74,  19]])

In [28]:
df = pd.DataFrame(data=mydata,columns = ['f1','f2','f3','label'])

In [29]:
df

     f1   f2  f3  label
0    88   20  82     17
1    68   39  20     66
2    74   12  30     95
3    11   20  27     24
4   100   28  11     65
5     4   40  32      2
6    86   36  75     78
7    30   45  95     53
8    42   87  80     12
9    32   17   4     34
10   95   23  30     37
11   13   94  44      1
12   94   19  71     63
13    3    8  22     83
14    6   24   5     81
15    3   33  25     55
16   54   24  77     96
17   86   71   0     45
18   33   24  46     38
19   74   82  98     20
20   37   69  14     12
21   49   32  33     27
22   34   90  20     76
23   36   76  60      9
24   21   21  34     35
25    1   98  97     51
26   65   60  22     67
27   88   67  64     95
28   66   85  65     53
29   44    9  92     46
30   20   36  97     81
31   17   84  23     83
32   49   77  93     50
33   33   26   4     40
34   52   90   7     22
35   61   72  58     85
36    9   97  34     87
37   65   17  77     72
38   65    3   6     83
39   20   24  54     24
40   91    0  45     27
41   43  100  74     49
42   35   45  56     20
43   54   89  38     55
44    3    3  31     58
45   56   81  69      6
46   56   59  89      0
47   31   64   9     61
48   33   33  58     34
49   45   31  74     19

In [30]:
X = df[['f1','f2','f3']]

In [31]:
y = df['label']

In [32]:
from sklearn.model_selection import train_test_split

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [39]:
X_train.shape

(33, 3)

In [40]:
X_test.shape

(17, 3)